.onas {
  padding: 20px;
  background-color: #ffebee;
}

.content-section {
  padding: 25px;
  background-color: white;
  margin: 20px auto;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size, 18px); /* Default font size */
}