.kontakt {
  padding: 20px;
  background-color: #e0f7fa;
}

.content-section {
  padding: 25px;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.contact-info {
  margin-bottom: 35px;
  text-align: left;
}

.contact-info p {
  margin: 10px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left; 
  max-width: 1000px; 
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #1557b5;
}
