.kontakt-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Możesz dostosować */
  align-items: center;   /* Możesz dostosować */
}

.kontakt-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.kontakt-form {
  position: absolute; /* Dodane pozycjonowanie */
  top: 300px;          /* Przesunięcie od góry */
  left: 1250px;         /* Przesunięcie od lewej */
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.kontakt-form form {
  display: flex;
  flex-direction: column;
}

.kontakt-form form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.kontakt-form form label {
  margin-bottom: 5px;
}

.kontakt-form form input,
.kontakt-form form textarea {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.kontakt-form form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kontakt-form form button:hover {
  background-color: #0056b3;
}
